<% content_for(:title, "Welcome to PitchBreakfast") %>
<!-- BODY-->
<%= partial "nav" %>


<!--START MAIN-WRAPPER--> 
 <div class="container">
<%= partial "header" %>
</div>


    <!-- END MAIN WRAPPER-->
    <%= partial "footer" %>
  </div>

<%= partial "javascripts" %>


</body>