<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
          <div class="col-lg-3 col-md-6">
                <div class="container">
            

            <div class="col-lg-3 col-md-6">
      <h3>Navigation:</h3>
                <ul>

        <li><a href="rsvp.html"><i class="fa fa-pencil-square-o"></i> RSVP</a></li>
        <li><a href="apply.html"><i class="fa fa-file-text-o"></i> Apply</a></li>
        <li><a href="panelists.html"><i class="fa fa-user"></i> Panelists</a></li>
        <li><a href="pitchsters.html"><i class="fa fa-female"></i> Pitchsters</a></li>
        <li><a href="idea.html"><i class="fa fa-calendar-o"></i> IDEA Pitch</a></li>
        <li><a href="bradfeld.html"><i class="fa fa-globe"></i> Brad Feld Interview</a></li>
        </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h3>Contact:</h3>
        <p><a href="" title="Contact me!"><i class="fa fa-envelope"></i> Contact</a></p>

         
            <h3>Follow:</h3>
      
<a href="www.linkedin.com/pitchbreakfast" id="gh" target="_blank" title="LinkedIn"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x"></i>
</span>
LinkedIn</a>
<a href="www.twitter.com/pitchbreakfast" id="gh" target="_blank" title="Twitter"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
Twitter</a>
<br>
<a href="www.github.com/amstars/pitchbreakfast"  target="_blank" title="GitHub"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-github fa-stack-1x"></i>
</span>
GitHub</a>
<a href="www.youtube.com..."  target="_blank" title="YouTube"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-youtube fa-stack-1x"></i>
</span>
YouTube</a>
    </div>
      <br/>
           
      <br/>
      
        <hr>
                    <p>Copyright 2015 © PitchBreakfast
          
          
          
        </footer>