 <footer class="footer footer-inverse">
      <div class="footer-inner text-left">


        <ul>
        <li><a href="rsvp.html"><i class="fa fa-pencil-square-o"></i> RSVP</a></li>
       <li><a href="apply.html"><i class="fa fa-file-text-o"></i> Apply</a></li>
       <li><a href="panelists.html"><i class="fa fa-user"></i> Panelists</a></li>
       <li><a href="pitchsters.html"><i class="fa fa-female"></i> Pitchsters</a></li>
       <li><a href="idea.html"><i class="fa fa-calendar-o"></i> IDEA Pitch</a></li>
       <li><a href="bradfeld.html"><i class="fa fa-globe"></i> Brad Feld Interview</a></li>
        </ul>
        <p class="text-muted">&copy; Copyright 2015 PitchBreakfast</p>
      </div>
    </footer>