  <!-- /SPONSORS-->

  <div class="container">

  <div class="row">
    <h2>OUR SPONSORS</h2>
    
  

    <div class="col-md-3 col-md-push-3">
      <img class="img-responsive" src="/images/technocom-logo.jpg" alt="Technocom">
      <p>TechnoCom is our breakfast and coffee sponsor, so we love them. And we love this <a href="http://www.technocomusa.com/letter-to-competitors">Letter to their Competitors</a>, as well. You got it!
      </p>
    </div>

    <div class="col-md-3 col-md-pull-3 ">
      <p>In addition to hosting PitchBreakfast and IDEA Pitch, Packard Place is the premier meeting space for Charlotte entrepreneurs.  <a href="http://packardplace.us2.list-manage.com/subscribe?u=a01f28c7e74c2b69b07d8c857&amp;id=eb856f7bc9">Subscribe to their newsletter</a>.</p>
      <img class="img-responsive" src="/images/packard-logo.png" alt="Packard Place">
    </div>

    <div class="col-md-3 col-md-push-3">
      <p>Caronet specializes in Engineered Hosting solutions including Cloud Services, Dedicated Servers, Colocation, and Managed Services. They <a href="livestream.html">livestream</a> our monthly events.
      </p>
     <img class="img-responsive" src="images/caronet.jpg" alt="Caronet">
    </div>

       <div class="col-md-3 col-md-pull-3 ">
      <img class="img-responsive" src="/images/spengleragans.png" alt="Spengler and Agans">
      <p>Attorneys for Charlotte's startup community, Spengler & Agans sponsors the archival video we give to our pitchsters. The firm focuses on providing innovative legal solutions to entrepreneurs and local businesses.</p>
    </div>

  </div>

